<ng-container *ngFor="let employee of employeelist,index as i"> 
<div class="employee">
    <div class="profile">
        <img src={{employee.avatar}}>
                
            </div>
            <div class="employee-details">
                <div class="employee-name"> {{employee.id}} - </div>
                <div class="employee-email">  </div>
            </div>
            <div class="remove">
                <button (click)="removeUser(i)"> <a [routerLink]='["user",employee.id]'>Remove user</a></button>
            </div>
        </div>
</ng-container>
