<ng-container *ngFor="let employee of employeelist,index as i"> 
<div class="employee">
    <div class="profile">
        <img src={{employee.avatar}}>
                
            </div>
            <div class="employee-details">
                <div class="employee-name"> {{employee.first_name}} {{employee.last_name}} </div>
                <div class="employee-email"> {{employee.email}} </div>
            </div>
            <div class="cta">
                <button (click)="removeUser(i)">Remove user</button>
            </div>
        </div>
</ng-container>
