<!-- <app-header></app-header> -->
<!-- <app-parent></app-parent>
 -->
<!-- <app-aboutus></app-aboutus> -->
<div class="routing">
    <ul>
        <li class="atag">
            <a style= "color:blue;" routerLink="/">home</a>
            <a style="color: greenyellow;" routerLink="/contactus">ContactUs</a>
            <a  style= "color:red;" routerLink="/aboutus">Aboutus</a>
        </li>
        <!-- <li><a routerLink="/contactus">ContactUs</a></li> -->
        <!-- <li><a routerLink="/aboutus">Aboutus</a></li> -->
    </ul>
</div>

<router-outlet></router-outlet>