<!-- <app-header></app-header> -->
<!-- <app-parent></app-parent>
 -->
<!-- <app-aboutus></app-aboutus> -->
<div  class="start">
<div class="routing">
    <ul>
        <li class="atag">
            <h3 style= "color:blue;" routerLink="/">HOME</h3>
            <h3 style="color: greenyellow;" routerLink="/contactus">CONTACTUS</h3>
             <h3 style= "color:red;" routerLink="/aboutus">ABOUTUS</h3> -->
            <!-- <p  style= "color:red;" (click)="object()">Aboutus</p> -->
        </li>
        <!-- <li><a routerLink="/contactus">ContactUs</a></li>
        <li><a routerLink="/aboutus">Aboutus</a></li> -->
    </ul>
</div>
</div>

<router-outlet></router-outlet> 
<a routerLink="newmodule">module</a>